<div class="social-blurb">
    <div class="info">
        <h3><%= social.title %></h3>
        <p><%= social.blurb %></p>
    </div>
    <div class="media">
        <%- include('headers/socialLink', social) %>
    </div>
</div>
