<div class="social-header">
    <link rel="stylesheet" href="css/socialHeader.css"/>
    <%- include('socialLink', {media: {link: 'https://www.twitch.tv/wannawatchmecode', imgSrc: '/img/twitch.png'}}) %>
    <%- include('socialLink', {media: {link: 'https://github.com/wannawatchmecode', imgSrc: '/img/github_PNG40.png'}}) %>
    <%- include('socialLink', {media: {link: 'https://www.youtube.com/@WannaWatchMeCode', imgSrc: '/img/YouTube-LOGO.png'}}) %>
</div>